@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div>
        <h2>Other Square</h2>
        <h3>Freewire</h3>
        <h4>Additional details coming soon.</h4>
    </div>
</div>

<div class="row">

    <div class="col-md-4">
    </div>

    <div class="col-md-4">
    </div>

    <div class="col-md-4">
    </div>

</div>